<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro do Pet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/subcadastro/subcadastro.css') }}">
</head>
<body>
    <div class="container">
        <h1>A aventura começa agora, Bem vindo(a), <span class="username">Nome do Usuário</span>!</h1>
        <p>Está na hora de registrar seu pet:</p>
        
        <label for="pet-name">Nome do pet</label>
        <input type="text" id="pet-name" placeholder="Digite o nome do seu pet" oninput="validateForm()">
        
        <label for="pet-username">Username do pet</label>
        <input type="text" id="pet-username" placeholder="@apelidomeupet" oninput="validateForm()">
        
        <div class="form-group">
            <label for="especie">Espécie</label>
            <div class="radio-group">
              <label>
                <input type="radio" name="especie" value="cachorro"> Cachorro
              </label>
              <label>
                <input type="radio" name="especie" value="gato"> Gato
              </label>
              <label>
                <input type="radio" name="especie" value="outra"> Outra espécie
              </label>
            </div>
          </div>
          
        
        <label for="pet-raca">Raça</label>
        <select id="pet-raca" onchange="validateForm()">
            <option value="">Escolha a raça do seu pet</option>
        </select>
        
        <button id="save-btn" disabled>Salvar</button>
    </div>
    
    <script src="{{ url_for('static', filename='js/pages/subcadastro/subcadastro.js') }}"></script>
</body>
</html>


