<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/profile/profile.css') }}">
    <title>Perfil</title>
</head>

<body>
    <header class="header">
        <button class="menu-toggle" id="menuToggle">
            <i class="fa fa-bars open-menu"></i>
            <i class="fa fa-times close-menu"></i>
        </button>
        <a href="{{ url_for('main.home') }}">
            <img src="{{ url_for('static', filename='images/global/logo_SocialPet_correto.png') }}" alt="Logo SocialPet">
        </a>
    </header>
    <main class="container">
        <aside class="column-left" id="menu">
            <img src="{{ url_for('static', filename='images/global/logo_SocialPet_correto.png') }}" alt="Logo do Site">
            <div class="my-pets">
                <h4>Meus Pets</h4>
                <div class="pets">
                    <img src="{{ url_for('static', filename='images/pages/home/Perfil Cachorro.png') }}" alt="Foto do Pet 1">
                    <img src="{{ url_for('static', filename='images/pages/home/Perfil Cachorro 1.png') }}" alt="Foto do Pet 2">
                </div>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="{{ url_for('main.home') }}"><i class="bi-house-door"></i>Home</a></li>
                    <li><a href=""><i class="bi bi-search"></i>Search</a></li>
                    <li><a href="{{ url_for('main.perfil') }}"><i class="bi-person"></i>Perfil</a></li>
                    <li><a href="{{ url_for('main.ongs') }}"><i class="bi bi-globe"></i>ONGs</a></li>
                    <li><a href="{{ url_for('main.market') }}"><i class="bi bi-shop"></i>Market</a></li>
                    <li><a href="{{ url_for('auth.logout') }}"><i class="bi bi-exit"></i>Sair</a></li>
                </ul>
            </nav>
        </aside>
        <div class="user">
            <div class="info-user">
                <img src="{{ url_for('static', filename='images/pages/home/postEstaticos/Perfil Lorranny.png') }}" alt="Foto de Perfil">
                <div class="info-user-text">
                    <button>Editar Perfil</button>
                    <ul>
                        <li>Lorrany Pinheiro</li>
                        <li>8 Meses no SocialPet</li>
                        <li>Goiânia,GO</li>
                    </ul>
                </div>
                <div class="info-follow">
                    <div class="follow">
                        <p>Seguidores</p>
                        <p>1.2k <i class="fa fa-paw"></i></p>
                    </div>
                    <div class="follow">
                        <p>Seguindo</p>
                        <p>102 <i class="fa fa-paw"></i></p>
                    </div>
                </div>
            </div>
            <div class="text">
                <p>Posts</p>
            </div>
            <div class="post-user">
                <div class="info-post">
                    <div class="post">
                        <img src="{{ url_for('static', filename='images/pages/home/postEstaticos/Lorranny 1.png') }}" alt="Post 1">
                    </div>
                    <div class="post">
                        <img src="{{ url_for('static', filename='images/pages/home/postEstaticos/Lorranny 2.png') }}" alt="Post 2">
                    </div>
                    <div class="post">
                        <img src="{{ url_for('static', filename='images/pages/home/postEstaticos/Lorranny 3.png') }}" alt="Post 3">
                    </div>
                    <div class="post">
                        <img src="{{ url_for('static', filename='images/pages/home/postEstaticos/Lorranny 4.png') }}" alt="Post 4">
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="{{ url_for('static', filename='js/pages/profile/profile.js') }}"></script>
</body>

</html>