<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha seu Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/subcadastro/subcadastro.css') }}">
</head>
<body>
    <div class="container">
        <h2>Qual o seu perfil?</h2>
        <p class="intro-text">Na Social Pet, nós queremos criar uma comunidade de Petlovers que compartilham o mesmo amor. Escolha seu perfil:</p>
        
        <div class="perfil-grid">
            <!-- Primeira linha -->
            <div class="perfil-row">
                <button class="perfil-btn" onclick="escolherPerfil('pet')">
                    <img src="{{ url_for('static', filename='images/pages/subcadastro/icons/pet.png') }}" alt="Ícone Pet"> Pet
                </button>
                <button class="perfil-btn" onclick="escolherPerfil('ong')">
                    <img src="{{ url_for('static', filename='images/pages/subcadastro/icons/ong.png') }}" alt="Ícone ONG"> ONG
                </button>
                <button class="perfil-btn" onclick="escolherPerfil('empresa')">
                   <img src="{{ url_for('static', filename='images/pages/subcadastro/icons/empresa.png') }}" alt="Ícone Empresa"> Empresa
                </button>
            </div>
            
            <!-- Segunda linha -->
            <div class="perfil-row">
                <button class="perfil-btn" onclick="escolherPerfil('petshop')">
                   <img src="{{ url_for('static', filename='images/pages/subcadastro/icons/petshop.png') }}" alt="Ícone Pet Shop"> Pet Shop
                </button>
                <button class="perfil-btn" onclick="escolherPerfil('veterinario')">
                   <img src="{{ url_for('static', filename='images/pages/subcadastro/icons/veterinario.png') }}" alt="Ícone Veterinário"> Veterinário(a)
                </button>
                <button class="perfil-btn" onclick="escolherPerfil('clinica')">
                   <img src="{{ url_for('static', filename='images/pages/subcadastro/icons/clinica.png') }}" alt="Ícone Clínica Veterinária"> Clínica Veterinária
                </button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/pages/subcadastro/subcadastro.js') }}"></script>
</body>
</html>


